{
  "root": true,
  "extends": "airbnb",
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "arrow-body-style": "off",
    "arrow-parens": "off",
    "camelcase": "off",
    "class-methods-use-this": "off",
    "max-classes-per-file": "off",
    "no-bitwise": "off",
    "no-continue": "off",
    "no-lonely-if": "off",
    "no-loop-func": "off",
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "operator-linebreak": "off",
    "prefer-destructuring": "off",
    "prefer-template": "off",
    "semi": ["error", "never"]
  }
}
